.container {
  width: 700px;
  margin: 0 auto;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}

